*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'a b';
}

.a{
    grid-area: a;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    grid-area: b;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    border: 1px solid black;
}

table, tr, th, td{
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    padding: 2px;
}